################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Projeto_Final/FileContentIndex/21fb1b22-d6e8-4111-be0d-dfb79d477867.vsidx
/.vs/Projeto_Final/FileContentIndex/502d3c51-61c6-46e6-b759-edf9eb4d85af.vsidx
/.vs/Projeto_Final/FileContentIndex/ea114ad8-9991-4e0f-b3c6-2132acdba31d.vsidx
/.gitignore
*.vsidx
