@model IEnumerable<BotanicaFrontEnd.Models.BlobStorage>


<div>
    <h1>Partilha de Fotos</h1>
    <hr />
<form method="post" enctype="multipart/form-data">
        <label class="control-label">Foto da planta:</label>
         <input name="files" multiple="multiple" type="file" />
    <br />
    <input type="submit" value="Enviar ficheiro"/>

</form>
</div>


@{
    ViewData["Title"] = "Index";
}

<h2 class="text-uppercase text-center">Lista de imagens partilhadas</h2>






<table>
    
    <tbody>
        @foreach (var data in Model)
        {
            
            <tr>
                

                <td><img src="https://projetofinalandreribeiro.blob.core.windows.net/fotos/@data.FileName" height=200 width=400 /> </td>
                
                <td>@data.FileName</td>
                
            </tr>
        }
    </tbody>
</table>