@using ClassBackendBotanica;
@model ClassBackendBotanica.Encomenda

@{
    ViewData["Title"] = "Create";
   Utilizador utilizador = ViewData["Utilizador"] as Utilizador;
}

<h1>Criar</h1>

<h4>Encomenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" value='' />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEncomenda" class="control-label"></label>
                <input asp-for="DataEncomenda" class="form-control" value='' />
                <span asp-validation-for="DataEncomenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtilizadorId" class="control-label" hidden></label>
                <input asp-for="UtilizadorId" class="form-control" value='@utilizador.Id' hidden readonly />
                <span asp-validation-for="UtilizadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtigoId" class="control-label"></label>
                <input asp-for="ArtigoId" class="form-control" value='@ViewBag.id' />
                <span asp-validation-for="ArtigoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
