<h4>A sua resposta foi:</h4>
<br />
<h3>@ViewBag.Mensagem</h3>
<br />

<h4>Resultado</h4>
<br />

<h3>@ViewBag.Resposta</h3>

<a asp-action="Index">Tentar nova resposta</a>
<br />
<a asp-action="Receber">Ver Mensagens</a>