@model IEnumerable<BotanicaFrontEnd.Models.BlobStorage>

}
<div>
    <h1>Partilha de Fotos</h1>
    <hr />
<form method="post" enctype="multipart/form-data">

        Foto da planta: <input name="files" multiple="multiple" type="file" />
    <br />
    <input type="submit" value="Enviar ficheiro"/>

</form>
</div>